@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-satoshi: 'Satoshi', sans-serif;
}
@font-face {
  font-family: 'Zodiak';

  src: url(../../public/fonts/Zodiak-Regular.otf);
}
@font-face {
  font-family: 'Satoshi';

  src: url(../../public/font2/Satoshi-Bold.otf);
}
@font-face {
  font-family: 'Satoshi2';

  src: url(../../public/font2/Satoshi-Regular.ttf);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  font-family: 'Satoshi', sans-serif;
}
